<div class="container px-3 py-3">
    <div class="row py-2 px-2">
        <div class="col-4" style="text-align:left; color: gray;">
            <!-- <h6>Payment</h6> -->
            <button mat-button style="font-size:17px;">Payment</button>
        </div>
        <div class="col-4" style="text-align:center; color:gray;">
            <!-- <h6>History</h6> -->
            <button mat-button style="font-size:17px;">History</button>
        </div>
        <div class="col-4" style="text-align:center; color:gray;">
            <button mat-button style="font-size:17px;" (click)="Logout()">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="scrolling-wrapper">
                <div class="card px-2 mr-2" style="border:2px;">
                    <div class="row px-2 py-2" style="color:white;">
                        <div class="col-7 py-2" style="text-align:left; font-size: 15px;">
                            Number
                        </div>
                        <div class="col-5" style="text-align:right; font-size: 24px; font-weight: bold;">
                            VISA
                        </div>
                    </div>
                    <br>
                    <div class="row px-2" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 14px;">
                            Balance
                        </div>
                    </div>
                    <div class="row px-2 py-1" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 36px; font-weight: bold;">
                            Currency
                        </div>
                    </div>
                    <div class="row py-2"></div>
                    <br>
                </div>

                <div class="card px-2 mr-2" style="border:2px;">
                    <div class="row px-2 py-2" style="color:white;">
                        <div class="col-7 py-2" style="text-align:left; font-size: 15px;">
                            Number
                        </div>
                        <div class="col-5" style="text-align:right; font-size: 24px; font-weight: bold;">
                            VISA
                        </div>
                    </div>
                    <br>
                    <div class="row px-2" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 14px;">
                            Balance
                        </div>
                    </div>
                    <div class="row px-2 py-1" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 36px; font-weight: bold;">
                            Currency
                        </div>
                    </div>
                    <div class="row py-2"></div>
                    <br>
                </div>

                <div class="card px-2 mr-2" style="border:2px;">
                    <div class="row px-2 py-2" style="color:white;">
                        <div class="col-7 py-2" style="text-align:left; font-size: 15px;">
                            Number
                        </div>
                        <div class="col-5" style="text-align:right; font-size: 24px; font-weight: bold;">
                            VISA
                        </div>
                    </div>
                    <br>
                    <div class="row px-2" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 14px;">
                            Balance
                        </div>
                    </div>
                    <div class="row px-2 py-1" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 36px; font-weight: bold;">
                            Currency
                        </div>
                    </div>
                    <div class="row py-2"></div>
                    <br>
                </div>

                <div class="card px-2 mr-2" style="border:2px;">
                    <div class="row px-2 py-2" style="color:white;">
                        <div class="col-7 py-2" style="text-align:left; font-size: 15px;">
                            Number
                        </div>
                        <div class="col-5" style="text-align:right; font-size: 24px; font-weight: bold;">
                            VISA
                        </div>
                    </div>
                    <br>
                    <div class="row px-2" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 14px;">
                            Balance
                        </div>
                    </div>
                    <div class="row px-2 py-1" style="color:white;">
                        <div class="col-12" style="text-align:left; font-size: 36px; font-weight: bold;">
                            Currency
                        </div>
                    </div>
                    <div class="row py-2"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-3">
        <div class="col-8" style="text-align:left; font-size: 24px;">
            <b>Public Service</b>
        </div>
        <div class="col-4" style="text-align:right;">
            <img src="https://img.icons8.com/ios-glyphs/36/000000/more.png">
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-1"></div>
        <div class="col-5" style="text-align:center;">
            <div class="card  py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/ios/50/000000/electric-vehicle.png">
                </div>
                <div class="col-12">
                    Electricity
                </div>
            </div>
        </div>
        <div class="col-5" style="text-align:center;">
            <div class="card py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/pastel-glyph/50/000000/water.png">
                </div>
                <div class="col-12">
                    Water
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-5" style="text-align:center;">
            <div class="card  py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/ios/50/000000/gas-station.png">
                </div>
                <div class="col-12">
                    Gas
                </div>
            </div>
        </div>
        <div class="col-5" style="text-align:center;">
            <div class="card py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/ios/50/000000/heating.png">
                </div>
                <div class="col-12">
                    Heat
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row mt-3">
        <div class="col-1"></div>
        <div class="col-5" style="text-align:center;">
            <div class="card  py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/ios/50/000000/car.png">
                </div>
                <div class="col-12">
                    Parking
                </div>
            </div>
        </div>
        <div class="col-5" style="text-align:center;">
            <div class="card py-2">
                <div class="col-12">
                    <img src="https://img.icons8.com/pastel-glyph/50/000000/first-aid-kit.png">
                </div>
                <div class="col-12">
                    Insurance
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>